body {
    background: no-repeat;
    font-weight: bold;
    background-size: cover;
    color: #ffffff;
    hover: #cccccc;
    overflow: hidden;
}

.center {
    position: absolute;
    left: 25%;
    top: 35%;
    transform: translate(-50%, -50%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
}

.centersms {
    position: relative;
    left: 30%;
    top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 17px;
    font-family: Fixedsys, consolas, monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	display: block;
}
a:hover{
    color:#666;
}
